Elevation System-Online Application/ElevationShop/ElevationShop/Service References/ServiceReference1/ElevatorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54471/ElevatorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ElevationService" />
  <xs:import schemaLocation="http://localhost:54471/ElevatorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="loginCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="cs" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="loginCustomerResult" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="cs" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomerID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllCustomerIDResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="cs" nillable="true" type="q5:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="loginEmployeeResult" nillable="true" type="q6:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getProductResult" nillable="true" type="q7:ArrayOfElevator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getProductByIDResult" nillable="true" type="q8:Elevator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductByDesign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dedign" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductByDesignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getProductByDesignResult" nillable="true" type="q9:ArrayOfElevator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="ele" nillable="true" type="q10:Elevator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="ele" nillable="true" type="q11:Elevator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getOrderResult" nillable="true" type="q12:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getOrderByIDResult" nillable="true" type="q13:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coutNewOrder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="coutNewOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coutNewOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getOrderByEmailResult" nillable="true" type="q14:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="od" nillable="true" type="q15:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="odetail" nillable="true" type="q16:OrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addOrderDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getOrderDetailResult" nillable="true" type="q17:ArrayOfOrderDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="emailEmployee" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countFeedback">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countFeedbackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeedBack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFeedBackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getFeedBackResult" nillable="true" type="q18:ArrayOfFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="f" nillable="true" type="q19:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFeedbackResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seenFeedback">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="seenFeedbackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="countMaintenanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countMaintenanceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="seenMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="seenMaintenanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaintenance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaintenanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="getMaintenanceResult" nillable="true" type="q20:ArrayOfMaintenance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMaintenance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ElevationService" minOccurs="0" name="m" nillable="true" type="q21:Maintenance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMaintenanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addMaintenanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>