BankClient/BankClient/Service References/ServiceReference1/BankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61379/BankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61379/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61379/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService_ASM_TungBT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingService_ThanhToan_InputMessage">
    <wsdl:part name="parameters" element="tns:ThanhToan" />
  </wsdl:message>
  <wsdl:message name="IBankingService_ThanhToan_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThanhToanResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LichSuKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:LichSuKhachHang" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LichSuKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:LichSuKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LichSuDoiTac_InputMessage">
    <wsdl:part name="parameters" element="tns:LichSuDoiTac" />
  </wsdl:message>
  <wsdl:message name="IBankingService_LichSuDoiTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:LichSuDoiTacResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getSoDuKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:getSoDuKhachHang" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getSoDuKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSoDuKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getSoDuDoiTac_InputMessage">
    <wsdl:part name="parameters" element="tns:getSoDuDoiTac" />
  </wsdl:message>
  <wsdl:message name="IBankingService_getSoDuDoiTac_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSoDuDoiTacResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingService">
    <wsdl:operation name="ThanhToan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/ThanhToan" message="tns:IBankingService_ThanhToan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/ThanhToanResponse" message="tns:IBankingService_ThanhToan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LichSuKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/LichSuKhachHang" message="tns:IBankingService_LichSuKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/LichSuKhachHangResponse" message="tns:IBankingService_LichSuKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LichSuDoiTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/LichSuDoiTac" message="tns:IBankingService_LichSuDoiTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/LichSuDoiTacResponse" message="tns:IBankingService_LichSuDoiTac_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSoDuKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/getSoDuKhachHang" message="tns:IBankingService_getSoDuKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/getSoDuKhachHangResponse" message="tns:IBankingService_getSoDuKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSoDuDoiTac">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/getSoDuDoiTac" message="tns:IBankingService_getSoDuDoiTac_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/getSoDuDoiTacResponse" message="tns:IBankingService_getSoDuDoiTac_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingService" type="tns:IBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ThanhToan">
      <soap:operation soapAction="http://tempuri.org/IBankingService/ThanhToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LichSuKhachHang">
      <soap:operation soapAction="http://tempuri.org/IBankingService/LichSuKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LichSuDoiTac">
      <soap:operation soapAction="http://tempuri.org/IBankingService/LichSuDoiTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoDuKhachHang">
      <soap:operation soapAction="http://tempuri.org/IBankingService/getSoDuKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoDuDoiTac">
      <soap:operation soapAction="http://tempuri.org/IBankingService/getSoDuDoiTac" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingService">
    <wsdl:port name="BasicHttpBinding_IBankingService" binding="tns:BasicHttpBinding_IBankingService">
      <soap:address location="http://localhost:61379/BankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>