Calculator/Calculator/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Cong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CongResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Tru">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TruResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TruResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Nhan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NhanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NhanResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Chia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChiaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CongSoapIn">
    <wsdl:part name="parameters" element="tns:Cong" />
  </wsdl:message>
  <wsdl:message name="CongSoapOut">
    <wsdl:part name="parameters" element="tns:CongResponse" />
  </wsdl:message>
  <wsdl:message name="TruSoapIn">
    <wsdl:part name="parameters" element="tns:Tru" />
  </wsdl:message>
  <wsdl:message name="TruSoapOut">
    <wsdl:part name="parameters" element="tns:TruResponse" />
  </wsdl:message>
  <wsdl:message name="NhanSoapIn">
    <wsdl:part name="parameters" element="tns:Nhan" />
  </wsdl:message>
  <wsdl:message name="NhanSoapOut">
    <wsdl:part name="parameters" element="tns:NhanResponse" />
  </wsdl:message>
  <wsdl:message name="ChiaSoapIn">
    <wsdl:part name="parameters" element="tns:Chia" />
  </wsdl:message>
  <wsdl:message name="ChiaSoapOut">
    <wsdl:part name="parameters" element="tns:ChiaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Cong">
      <wsdl:input message="tns:CongSoapIn" />
      <wsdl:output message="tns:CongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Tru">
      <wsdl:input message="tns:TruSoapIn" />
      <wsdl:output message="tns:TruSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Nhan">
      <wsdl:input message="tns:NhanSoapIn" />
      <wsdl:output message="tns:NhanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Chia">
      <wsdl:input message="tns:ChiaSoapIn" />
      <wsdl:output message="tns:ChiaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cong">
      <soap:operation soapAction="http://tempuri.org/Cong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tru">
      <soap:operation soapAction="http://tempuri.org/Tru" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nhan">
      <soap:operation soapAction="http://tempuri.org/Nhan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chia">
      <soap:operation soapAction="http://tempuri.org/Chia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cong">
      <soap12:operation soapAction="http://tempuri.org/Cong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tru">
      <soap12:operation soapAction="http://tempuri.org/Tru" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nhan">
      <soap12:operation soapAction="http://tempuri.org/Nhan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Chia">
      <soap12:operation soapAction="http://tempuri.org/Chia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:63357/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:63357/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>